<header>
  <div class="header-container">
    <a href="/" class="logo" id="logo-link">
      <img
        src="/static/assets/images/logo.png"
        alt="Swing Society"
        id="logo-icon"
      />
    </a>
    <nav>
      <div class="hamburger" id="hamburger">☰</div>
      <ul class="nav-list" id="nav-list">
        <li class="has-submenu">
          <a href="#" class="menu-item">Класове</a>
          <ul class="submenu">
            <li>
              <a
                href="#"
                hx-get="/templates/classes/solojazz.html"
                hx-target="#main-view"
                hx-push-url="/classes/solo-jazz"
                hx-trigger="click"
                >Соло Джаз</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/templates/classes/lindyhop.html"
                hx-target="#main-view"
                hx-push-url="/classes/lindy-hop"
                hx-trigger="click"
                >Линди Хоп</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/templates/classes/oldclips.html"
                hx-target="#main-view"
                hx-push-url="/classes/old-clips"
                hx-trigger="click"
                >Олд Клипс</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/templates/prices.html"
                hx-target="#main-view"
                hx-trigger="click"
                >Цени</a
              >
            </li>
          </ul>
        </li>
        <li class="has-submenu">
          <a href="#" class="menu-item">Събития</a>
          <ul class="submenu">
            <li>
              <a
                href="#"
                hx-get="/templates/events/"
                hx-target="#main-view"
                hx-push-url="/events/Party"
                hx-trigger="click"
                >Партита</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/templates/events/"
                hx-target="#main-view"
                hx-push-url="/events/Festivals"
                hx-trigger="click"
                >Фестивали</a
              >
            </li>
            <li>
              <a
                href="#"
                hx-get="/templates/events/"
                hx-target="#main-view"
                hx-push-url="/events/Workshops"
                hx-trigger="click"
                >Интензивни курсове</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            href="/templates/about.html"
            hx-get="/templates/about.html"
            hx-target="#main-view"
            hx-push-url="/about-us"
            >За нас</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
