<div class="container">
  <div>
    <h3 class="title is-2 has-text-centered mb-6">Coupled Classes</h3>
  </div>
  <div class="columns is-2">
    <figure class="image is-128x128">
      <img src="/static/assets/images/Miro&Kalina.jpg" alt="Miro & Kalina instrucors">
    </figure>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati rerum, animi consequatur unde quia enim nostrum cupiditate dolore similique aperiam pariatur autem illum impedit nam aut sapiente. Nisi, in excepturi?</p>
  </div>
  <div>
    <h3 class="title is-2 has-text-centered mb-6">Solo Classes</h3>
  </div>
  <div class="columns is-2">
    <div>
      <figure class="image is-128x128">
        <img src="/static/assets/images/Miro&Kalina.jpg" alt="Miro & Kalina instrucors">
      </figure>
    </div>
    <div>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati rerum, animi consequatur unde quia enim nostrum cupiditate dolore similique aperiam pariatur autem illum impedit nam aut sapiente. Nisi, in excepturi?</p>
    </div>
  </div>
</div>
