<div class="class-card lindyhop">
  <div class="class-card swing foundation">
    <h2>Lindy Hop - Swing Foundation</h2>
    <p>In this class, we focus on the basics of Lindy Hop - the most popular swing dance. No prior experience is needed to join.</p>
    <p><strong>Location:</strong> Serdika Str 25</p>
    <p><strong>Next group starts on:</strong> 15th February 2025</p>
  </div>
  <div class="class-card swing basics">
    <h2>Lindy Hop - Swing Basics</h2>
    <p>In this class, we solidify and polish our fundamentals of Lindy Hop - the most popular swing dance. You should have finished the Swing Foundation course.</p>
    <p><strong>Location:</strong> Serdika Str 25</p>
    <p><strong>Next group starts on:</strong> 30th March 2025</p>
  </div>
  <div class="class-card swing variations">
    <h2>Lindy Hop - Lindy Variations</h2>
  <p>In this class, we refine & expand our Swing dance knowledge and understanding. We work on technique, and introduce new jazz vocabulary and rhythmical variations. We explore also other Swing Dances like: Balboa, Shag, Blues. It's a module based class that has a rotating manner</p>
  <p><strong>Experience & Audition is Required:</strong> At least 12 months of prior experience.</p>
  <p><strong>You can join anytime:</strong> But it's best to join and stick to a module.</p>
  </div>  
</div>  