/* Desktop (≥ 768px) */
@media (min-width: 48rem) {

  .mobile-nav-toggle {
    display: none;
  }
 
  .nav-link, 
  .dropdown-toggle {
    width: auto;
  }

  /* match the class in the html */
  .nav-list li:hover .dropdown-menu {
    display: block;
  }

  /* check if it works */
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 12.5rem;
    background: var(--shade);
    border-radius: 0.25rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.2);
  }

  .has-submenu:hover .dropdown-menu {
    display: block;
  }
  
  .hamburger {
    display: none;
  }

  .hero-overlay {
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
  }

  .hero-text {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .hero-btn {
    align-self: center; /* Center the button on smaller screens */
    font-size: 1.5rem;
    padding: 0.75rem 1.5rem;
  }

  .registration-form {
    padding: 2rem;
  }
}