<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="Swing Society - Learn swing dance with us"/>
      <title>Swing Society</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">    
      <link href="https://fonts.googleapis.com/css2?family=Poiret+One&family=Forum&family=Merriweather:wght@300;400;700&display=swap&subset=latin,cyrillic" rel="stylesheet">
      <link rel="stylesheet" href="/css/style.css" />
      <link rel="icon" type="images/icon" href="/assets/images/fav-icon/favicon-32x32.png" />
      <link rel="apple-touch-icon" type="images/icon" href="/assets/images/fav-icon/apple-touch-icon.png" />
      <link rel="android-chrome" type="images/icon" href="/assets/images/fav-icon/android-chrome-192x192.png" />
      <script src="https://unpkg.com/htmx.org@1.9.10" defer></script>
      <script type="module" src="/static/js/main.js" defer></script>    
      <script>
          document.addEventListener('DOMContentLoaded', function() {
            htmx.config.ignoreFeatureWarnings = true;
          });
      </script>
      <script>
        document.addEventListener("DOMContentLoaded", function() {
          document.body.addEventListener("htmx:beforeSwap", function(evt) {
            console.log("HTMX Response:", evt.detail.xhr.responseText);
          });
        });
      </script>
    </head>
  <body>
    <!-- Header Section with fixed navbar -->
    <header>
      <!-- Navbar (mobile only shows logo and hamburger) -->
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand" id="logo-link">
            <a class="navbar-item" href="/">
              <img src="/static/assets/images/logo.png" alt="Swing Society Logo">
            </a>
            
            <!-- Social icons for tablet view only -->
            <div class="navbar-item is-hidden-mobile is-hidden-desktop tablet-social-icons">
              <div class="buttons">
                <a href="https://www.facebook.com/swingsocietybg" target="_blank">
                  <span class="icon">
                    <i class="fa-brands fa-facebook"></i>
                  </span>
                  <!-- <img src="/static/assets/images/social-icons/5296511_network_social network_tumblr_tumblr logo_icon.svg" alt="Facebook" width="24" height="24"> -->
                </a>
                <a href="https://www.instagram.com/bgswingsociety/" target="_blank">
                  <img src="/static/assets/images/social-icons/facebook-brands.svg" alt="Instagram" width="24" height="24">
                </a>
                <a href="https://www.youtube.com/@bgswingsociety" target="_blank">
                  <img src="/static/assets/images/social-icons/yt-bw.svg" alt="YouTube" width="24" height="24">
                </a>
                <a href="https://www.tiktok.com/@swing_society5" target="_blank">
                  <img src="/static/assets/images/social-icons/tt-bw.svg" alt="TikTok" width="24" height="24">
                </a>
              </div>
            </div>
            
            <!-- Hamburger menu for mobile -->
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" id="mobile-menu-toggle">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>
          <button class="close-menu" id="close-menu">X</button>
          <!-- Standard Bulma menu for desktop -->
          <div class="navbar-menu">
            <div class="navbar-start">
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="#main-view" hx-get="/templates/classes/classes.html" hx-target="#main-view" hx-push-url="/classes">Classes</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="#main-view" hx-get="/templates/classes/solojazz.html" hx-target="#main-view" hx-push-url="/classes/solo">Solo Dancing</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/classes/lindyhop.html" hx-target="#main-view" hx-push-url="/classes/coupled">Coupled Dancing</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/classes/oldclips.html" hx-target="#main-view" hx-push-url="/classes/old-clips">Old Clips</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Events</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="#main-view" hx-get="/templates/events/parties.html" hx-target="#main-view" hx-push-url="/events/party">Parties</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/events/festivals.html" hx-target="#main-view" hx-push-url="/events/festivals">Festivals</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/events/workshops.html" hx-target="#main-view" hx-push-url="/events/workshops">Workshops</a>
                </div>
              </div>
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">About</a>
                <div class="navbar-dropdown">
                  <a class="navbar-item" href="#main-view" hx-get="/templates/about.html" hx-target="#main-view" hx-push-url="/about-us">About Us</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/prices.html" hx-target="#main-view" hx-push-url="/prices">Prices</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/rules.html" hx-target="#main-view" hx-push-url="/rules">Rules</a>
                  <a class="navbar-item" href="#main-view" hx-get="/templates/FAQ.html" hx-target="#main-view" hx-push-url="/FAQ">FAQ</a>
                </div>
              </div>
            </div>
            <div class="navbar-end">
              <div class="buttons">
                <a class="navbar-item" href="https://www.facebook.com/swingsocietybg" target="_blank">
                  <img src="/static/assets/images/social-icons/fb-bw.svg" alt="Facebook" width="24" height="24">
                </a>
                <a class="navbar-item" href="https://www.instagram.com/bgswingsociety/" target="_blank">
                  <img src="/static/assets/images/social-icons/ig-bw.svg" alt="Instagram" width="24" height="24">
                </a>
                <a class="navbar-item" href="https://www.youtube.com/@bgswingsociety" target="_blank">
                  <img src="/static/assets/images/social-icons/yt-bw.svg" alt="YouTube" width="24" height="24">
                </a>
                <a class="navbar-item" href="https://www.tiktok.com/@swing_society5" target="_blank">
                  <img src="/static/assets/images/social-icons/tt-bw.svg" alt="TikTok" width="24" height="24">
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Mobile menu (separate from Bulma navbar) -->
      <div class="mobile-menu" id="mobile-menu">
        <div class="menu-item has-submenu" data-target="classes-submenu">Classes</div>
        <div id="classes-submenu" class="submenu">
          <a class="submenu-item" href="#main-view" hx-get="/templates/classes/solojazz.html" hx-target="#main-view" hx-push-url="/classes/solo">
            Solo Dancing</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/classes/lindyhop.html" hx-target="#main-view" hx-push-url="/classes/coupled">
            Coupled Dancing</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/classes/oldclips.html" hx-target="#main-view" hx-push-url="/classes/old-clips">
            Old Clips</a>
        </div>
        <div class="menu-item has-submenu" data-target="events-submenu">Events</div>
        <div id="events-submenu" class="submenu">
          <a class="submenu-item" href="#main-view" hx-get="/templates/events/parties.html" hx-target="#main-view" hx-push-url="/events/party">
          Parties</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/events/festivals.html" hx-target="#main-view" hx-push-url="/events/festivals">
          Festivals</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/events/workshops.html" hx-target="#main-view" hx-push-url="/events/workshops">
          Workshops</a>
        </div>
        <div class="menu-item has-submenu" data-target="about-submenu">About</div>
        <div id="about-submenu" class="submenu">
          <a class="submenu-item" href="#main-view" hx-get="/templates/about.html" hx-target="#main-view" hx-push-url="/about-us">
          About Us</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/prices.html" hx-target="#main-view" hx-push-url="/prices">
          Prices</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/rules.html" hx-target="#main-view" hx-push-url="/rules">
          Rules</a>
          <a class="submenu-item" href="#main-view" hx-get="/templates/FAQ.html" hx-target="#main-view" hx-push-url="/FAQ">
          FAQ</a>
        </div>
      </div>
      <!-- Banner section (visible on desktop and tablet, hidden on mobile) -->
      <section class="hero is-primary is-small hero-section is-hidden-mobile">
        <div class="hero-body py-2">
          <div class="container full-width">
            <div class="columns is-vcentered">
              <!-- Headline on the left -->
              <div class="column is-8">
                <h1 class="title">Swing Society Where Jazz Happens</h1>
              </div>
              <!-- Button on the right -->
              <div class="column is-3 has-text-right">
                <button class="button is-dark is-normal is-hoverable"
                        hx-get="/templates/components/modal-large.html"
                        data-form="/templates/forms/registration-form.html"
                        hx-target="main"
                        hx-swap="beforeend"
                        hx-on="after-request: loadFormIntoModal(this)">
                        Sign Up</button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <!-- Hero Section -->  
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body has-background-dark p-0 is-relative">
        <!-- The image as background -->
        <figure class="image is-fullwidth m-2" style="height: 100%;">
          <img src="/static/assets/images/the founders.jpg" alt="Swing Society Founders" style="object-fit: cover; width: 100%; height: 100%;">
        </figure>
        <!-- The text overlay - switch between these classes for positioning: 
             - For top: is-absolute pt-5 pl-5
             - For middle: is-absolute pt-0 pl-5 mt-6
             - For bottom: is-absolute pb-5 pl-5 mb-6 -->
        <div class="is-overlay is-flex is-flex-direction-column is-justify-content-flex-end" style="pointer-events: none;">
          <div class="container pb-6 pl-5 pr-5">
            <div class="is-flex is-justify-content-space-between is-align-items-flex-end">
              <h2 class="title has-text-white is-size-2 has-text-shadow" style="pointer-events: auto;">Хората, които го стартираха!</h2>
              <a href="/templates/forms/all-forms.html" class="button is-warning is-medium mb-2" style="pointer-events: auto; font-family: var(--heading-font-latin); letter-spacing: 0.05em;" hx-get="/templates/forms/all-forms.html" hx-target="#main-view">Sign Up</a>
            </div>
          </div>
        </div>
      </div>
    </section>
      <!-- <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/OpXc2svVtZM?si=ZyEVIMdwmfnH_33u/?autoplay=1&mute=1&playsinline=1" title="Miro & Stella Dance of the Gremlins" frameborder="0" 
        allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div> -->
    <main>
      <div id="main-view" hx-indicator="#loading-spinner">
        <!-- content that is swapped based on where user clicks-->
      </div>   
      <div id="loading-spinner" class="htmx-indicator">
        <div class="spinner-ring"></div>
      </div>
      <section class="calendar-section">
      <h2 class="calendar-heading">Календар класове и партита</h2>
      <div class="container">
        <!-- Desktop View -->
        <div class="columns is-hidden-mobile is-hidden-tablet">
            <div class="column is-4">
                <h2 class="title is-4">Минали</h2>
                <div id="past-events"
                     hx-get="/api/calendar/past"
                     hx-trigger="load"
                     hx-indicator="#loading-spinner"></div>
            </div>
            <div class="column is-4">
                <h2 class="title is-4">Днес</h2>
                <div id="today-events"
                     hx-get="/api/calendar/today"
                     hx-trigger="load"
                     hx-indicator="#loading-spinner"></div>
            </div>
            <div class="column is-4">
                <h2 class="title is-4">Предстоящи</h2>
                <div id="upcoming-events"
                     hx-get="/api/calendar/upcoming"
                     hx-trigger="load"
                     hx-indicator="#loading-spinner"></div>
            </div>
        </div>

        <!-- Tablet View -->
        <div class="is-hidden-desktop is-hidden-mobile tablet-layout">
            <div>
                <h2 class="title is-4">Днес</h2>
                <div id="tablet-today-events"
                     hx-get="/api/calendar/today"
                     hx-trigger="load"
                     hx-indicator="#loading-spinner"></div>
            </div>
            <div class="columns">
                <div class="column is-6">
                    <h2 class="title is-4">Минали</h2>
                    <div id="tablet-past-events"
                         hx-get="/api/calendar/past"
                         hx-trigger="load"
                         hx-indicator="#loading-spinner"></div>
                </div>
                <div class="column is-6">
                    <h2 class="title is-4">Предстоящи</h2>
                    <div id="tablet-upcoming-events"
                         hx-get="/api/calendar/upcoming"
                         hx-trigger="load"
                         hx-indicator="#loading-spinner"></div>
                </div>
            </div>
        </div>

        <!-- Mobile View -->
        <div class="is-hidden-tablet columns-mobile">
            <div>
                <h2 class="title is-4">Днес</h2>
                <div id="mobile-today-events"
                     hx-get="/api/calendar/today"
                     hx-trigger="load"
                     hx-indicator="#loading-spinner"></div>
            </div>
            <div>
                <h2 class="title is-4">Предстоящи</h2>
                <div id="mobile-upcoming-events"
                     hx-get="/api/calendar/upcoming"
                     hx-trigger="load"
                     hx-indicator="#loading-spinner"></div>
            </div>
        </div>

        <!-- Sign Up Button -->
        <div class="has-text-centered mt-4">
            <button class="button is-primary">Sign Up for Notifications</button>
        </div>
      </div>
      </section>
    </main>
    <!-- Footer Section -->
    <footer class="footer has-background-light">
      <div class="container">
        <div class="columns is-multiline is-variable is-5">
          <!-- Contacts -->
          <div class="column is-4">
            <h3 class="title is-5">Контакти</h3>
            <p class="is-size-6">Адрес: <a href="https://maps.app.goo.gl/Vhr6hWq7p1xr4wb37" target="_blank" class="nowrap">София, ул Сердика 25</a></p>
            <p class="is-size-6">Телефон: <a href="tel:+885554597">0885554597</a></p>
            <p class="is-size-6">Имейл: <a href="mailto:info@swingsociety.bg" class="nowrap">info@swingsociety.bg</a></p>
          </div>
    
          <!-- Information -->
          <div class="column is-3">
            <h3 class="title is-5">Информация</h3>
            <ul>
              <li><a href="#">Често Задавани Въпроси</a></li>
              <li><a href="#">Разписание</a></li>
              <li><a href="#">Цени</a></li>
              <li><a href="#">Условия</a></li>
              <li><a href="#">Политика за поверителност</a></li>
            </ul>
          </div>
    
          <!-- Projects -->
          <div class="column is-3">
            <h3 class="title is-5">Проекти</h3>
            <ul>
              <li><a href="https://swingbuzz.eu/" target="_blank">Swing Buzz</a></li>
              <li><a href="#">Podcast</a></li>
              <li><a href="#">Jazz Scene</a></li>
            </ul>
          </div>
    
          <!-- Social Links -->
          <div class="column is-3">
            <h3 class="title is-5">Намерете ни</h3>
            <div class="buttons">
              <a class="button is-light" href="https://www.facebook.com/swingsocietybg" target="_blank">
                <span class="icon">
                  <!-- <img src="/static/assets/images/social-icons/fb-bw.svg" alt="Facebook"> -->
                  <i class="fab fa-instagram"></i>
                </span>
                <span>Facebook</span>
              </a>
              <a class="button is-light" href="https://www.instagram.com/bgswingsociety/" target="_blank">
                <img src="/static/assets/images/social-icons/ig-bw.svg" alt="Instagram" width="24" height="24">
                <span>Instagram</span>
              </a>
              <a class="button is-light" href="https://www.youtube.com/@bgswingsociety" target="_blank">
                <img src="/static/assets/images/social-icons/yt-bw.svg" alt="YouTube" width="24" height="24">
                <span>Youtube</span>
              </a>
              <a class="button is-light" href="https://www.tiktok.com/@swing_society5" target="_blank">
                <img src="/static/assets/images/social-icons/tt-bw.svg" alt="TikTok" width="24" height="24">
                <span>TikTok</span>
              </a>
            </div>
          </div>
        </div>
    
        <!-- Footer bottom -->
        <div class="has-text-centered mt-4">
          <p>&copy; 2025 Swing Society. All Rights Reserved.</p>
        </div>
      </div>
    </footer>
  </body>
</html>
